<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Has sido registrado corectamente.</p>
    <p>
      Muchas gracias por inscribirte en el Seminario Archivístico
      "Revolución 4.0: La Transformación digital hacia la buena gobernanza" que se llevará
      a cabo el 15 de noviembre del 2019.
    </p>
    <p>
      Si tienes alguna consulta ponte en contacto con <%= mail_to "seminariociap2019@gmail.com" %>.
    </p>

    <p>Gracias por inscribirte, que tengas un gran día!</p>

  </body>
</html>
