<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Enorabuena, <%= @user.email %></h1>
    <p>
      Estas cordialmente invitado a participar en el evento
      de la CIAP que se realizara el dia X a las AB:CDam en
      ABCDXYZ
      For favor ingresa al siguiente enlace y llena el formulario para inscribirte:
      www.google.com

    </p>
    <p>
      .
    </p>
    <p>Gracias por unirte, que tengas un gran día!</p>

  </body>
</html>
