<div class="logo">
  <%= image_tag("ciap.png", :alt => "logo ciap", size: "200x106", class: 'image-logo') %>
</div>
<div class="formulatio-header form-style-6">
  <h1>Seminario 2019:
Revolución 4.0: La transformación digital hacia la buena gobernanza</h1>

  <%= render 'form', form: @form %>
</div>
